@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --bs-bg-image: url('../images/bgimg.webp');
    --bs-custom-bg-color: #943d24;
    --bs-navbar-bg-color: #282512;
    --bs-card-bg-color: #fffbf0;
    --bs-card-border-color: #fffbf0;
    --bs-card-shadow: 0 4px 6px #2d2d2d;
    --bs-btn-bg-color: #943d24;
    --bs-btn-hover-bg-color: #2d2d2d;
    --bs-text-overlay-border-color: #282512;
    --bs-pagination-bg-color: #943d24;
    --bs-pagination-hover-bg-color: #282512;
    --bs-floating-icons-bg-color: #943d24;
    --bs-floating-icons-hover-bg-color: #2d2d2d;
    --bs-footer-bg-color: #282512;
    --h1-font-size: 2rem; 
    --h1-margin-bottom: 1.25rem; 
    --red-error: #943d24;
}

/* Apply Bootstrap variables and utility classes */
html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

.custom-bg {
    background-image: var(--bs-bg-image);
    background-size: cover;
    background-position: center;
    background-repeat: repeat;
    height: 100vh;
}

h1 {
    padding-top: 2rem;
    color: var(--bs-custom-bg-color);
    font-size: var(--h1-font-size);
    margin-bottom: var(--h1-margin-bottom);
}

.heading {
    background-color: var(--bs-card-border-color);
    padding: 20px;
}

.head-title {
    padding-top: 7rem;
}

.line {
    margin: auto;
    padding: 0.5rem;
    width: 50%;
}

/* Custom HR style */
.custom-hr {
    border: none;
    height: 4px;
    background-color: var(--bs-footer-bg-color); 
    width: 100%; 
    margin: 20px 0; 
}

/* NavBar */
.navbar {
    padding: 1rem;
    background: var(--bs-navbar-bg-color);
}

/* Navigation */
nav ul {
    list-style: none;
    display: flex;
    gap: 1rem;
}

nav ul li {
    display: inline;
}

nav ul li a {
    text-decoration: none;
}

.dropdown-menu {
    background: var(--bs-custom-bg-color);
}

.auth-links {
    float: right;
}

.active {
    border-bottom: 2px solid var(--bs-primary);
    font-weight: 500;
}

/* Card styling */
.card {
    border: none;
    border-radius: var(--bs-border-radius-lg);
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
    background-color: var(--bs-card-bg-color);
    box-shadow: var(--bs-card-shadow);
    display: flex;
    flex-direction: column;
}

.card:hover {
    transform: translateY(-5px);
}

/* Image styling */
.card-img-top {
    border-top-left-radius: var(--bs-border-radius-lg);
    border-top-right-radius: var(--bs-border-radius-lg);
    width: 100%;
    height: 250px;
    object-fit: cover;
}

/* Card body */
.card-body {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 1rem;
}

/* Article author */
.card-title.p {
    font-size: 0.875rem;
    color: #212a31;
    margin-bottom: 0.625rem;
}

/* Article title */
.card-title.h5 {
    font-size: 1.125rem;
    font-weight: bold;
    margin-bottom: 0.9375rem;
    color: #212a31;
}

/* Article source */
.card-title.h4 {
    font-size: 1rem;
    color: var(--bs-custom-bg-color);
    margin-bottom: 0.625rem;
}

/* Article description */
.card-text {
    font-size: 0.875rem;
    color: #748d92;
    margin-bottom: 0.9375rem;
    flex-grow: 1;
    overflow: hidden;
    text-overflow: ellipsis;
}

.news-article {
    background: var(--bs-card-bg-color);
    padding: 1rem;
    border: 1px solid var(--bs-card-border-color);
    border-radius: var(--bs-border-radius-sm);
}

/* Read more button */
.btn {
    display: block;
    width: 100%;
    text-align: center;
    background-color: var(--bs-btn-bg-color);
    color: #fff;
    padding: 0.625rem;
    border: none;
    border-radius: var(--bs-border-radius-sm);
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 0.9375rem;
    transition: background-color 0.3s ease-in-out;
}

.btn:hover {
    background-color: var(--bs-btn-hover-bg-color);
    color: #fff;
}

.btn-signup1:hover {
    background-color: #c62828;
    color: #fff;
}

/* Floating icons */
.floating-icons {
    position: fixed;
    top: 50%;
    right: 0.3rem;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.floating-icons a {
    background: var(--bs-floating-icons-bg-color);
    color: #fff;
    padding: 0.5rem;
    border-radius: 50%;
    text-align: center;
    width: 2rem;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    transition: background-color 0.3s ease-in-out;
}

.floating-icons a:hover {
    background-color: var(--bs-floating-icons-hover-bg-color);
}

/* Pagination */
.pagination {
    display: flex;
    justify-content: space-between;
    margin: 1.25rem 0;
    text-align: center;
}

.pagination a {
    background: var(--bs-pagination-bg-color);
    color: #fff;
    padding: 0.625rem 1.25rem;
    text-decoration: none;
    border-radius: var(--bs-border-radius-sm);
    margin: 0 0.3125rem;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.pagination a:hover {
    background: var(--bs-pagination-hover-bg-color);
    color: #fff;
}
