<footer class="text-white pt-2 d-flex mt-auto">
    <!-- Grid container -->
    <div class="container">
        <div class="col-md-12 text-center">
            <!-- Peoject link -->
            <div class="social-links">
                <a href="https://github.com/Kamal-Kohli/H_n_T" target="_blank" class="text-white me-3">GitHub</a>
                <a href="https://codeinstitute.net/" target="_blank" class="text-white">Code Institute</a>
            </div>
            <hr>
            <!-- Copyright -->
            <div class="text-center text-white pb-1">
                <p>© 2024 Copyright: Code Institute - Educational purpose only!</p>
            </div>
        </div>
    </div>
</footer>

