{% extends "base.html" %}
{% load static %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}
<!-- LOGIN SECTION -->

<section class="logs-pages">
    <div class="masthead">
        <div class="text-center container p-5">
            <h1 class="text-center">Heads and Tails Top Headlines!</h1>
            <hr>
            <p class="text-center p-3 bg"><strong>Welcome back! Continue exploring the latest news tailored to your interests, 
                sorted by category and country. Stay informed and engaged with the world. Log in to pick up where you left off.</strong> 
            </p>
            <h3 class="text-center masthead1"><strong>Welcome Again!</strong></h3>
        </div>
        <div class="container box-shadow text-overlay" >
            <div class="row align-items-center">
                <div class="col-md-6 mt-5 offset-md-2">
                    <h3>{% trans "Sign In" %}</h3>
                    <hr>
                    <p>{% blocktrans %}or if you're a new user <a class="link" href="{{ signup_url }}">sign up</a>
                        first.{% endblocktrans %}
                    </p>
                </div>
            </div>
            <div class="row align-items-center">
                <div class="col-md-8 mt-3 offset-md-2 pb-5">
                    {% include "account/login_form.html" %}
                </div>
            </div>
        </div>
    </div>
</section>
<!-- END OF LOGIN SECTION -->
{% endblock %}