{% extends "base.html" %}
{% load static %}

{% load i18n %}

{% block head_title %}{% trans "Sign Out" %}{% endblock %}

{% block content %}
<!-- LOGOUT SECTION -->
<section class="logs-pages log-out">
    <div class="masthead">
        <div class="text-center container p-5">
            <h1 class="text-center">Thank you for visiting Heads and Tails! I'm sure we'll see you again</h1>
            <hr>
            <p class="text-center p-3 bg">We hope you enjoyed your personalized news experience. 
            We look forward to seeing you again soon. 
            Log out safely and stay informed. Remember, you can always come back to the latest updates whenever you want.
            <h3 class="text-center masthead1"><strong>See you next time!</strong></h3>
        </div>
        <div class="container box-shadow text-overlay p-5">
            <div class="row">
                <div class="col-md-8 mt-3 offset-md-2">
                    <h3 style="margin-bottom: 25px;">{% trans "Sign Out" %}</h3>
                    <hr>
                    <h3 class="text-danger animated-warning text-center mt-2">{% trans 'Are you sure you want to sign out?' %}</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8 mt-2 offset-md-2 pb-5">
                    <form method="post" action="{% url 'account_logout' %}">
                        {% csrf_token %}
                        {% if redirect_field_value %}
                        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                        {% endif %}
                        <hr>
                        <button class="btn btn-signup1 right" type="submit">{% trans 'Sign Out' %}</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- END OF LOGOUT SECTION -->
{% endblock %}